:root {
      --clr-bg-card: #F2F4F7;
      --clr-typo: #475467;
      --clr-bidder-card: #98A2B3;
      --clr-bid-card:#344054;
      --clr-line: #EAECF0;
      --clr-border: #D0D5DD;
      --clr-orange: #F79009;
      --clr-orange-red: #B54708;
      --clr-white-yellow: #FFFAEB;
}

@font-face {
      font-family: IBM-Plex;
      src: url('../src/fonts/IBMPlexSans-SemiBold.ttf');
}
